header {
  height: 145px;
  background: $color-bg-light;
  display: flex;
  justify-content: center;
  align-items: center;

  @media screen and (max-width: 768px) {
    height: 90px;
  }
}

.brand {
  font-size: 36px;
  text-transform: uppercase;
  color: $color-primary;
  letter-spacing: 2px;

  @media screen and (max-width: 768px) {
    font-size: 30px;
  }
}
