.restaurant {
  border-bottom: 1px solid black;
}

.favoriteIcon {
  border-radius: 50%;
  padding: 5px;
  border: 1px solid gray;

  &.liked {
    //favorite will be mark as red by adding class "liked"
    color: $color-primary;
  }
}
